# Processing Looker Exports

In [1]:
from fsds.imports import *

fsds v0.4.10 loaded.

In [12]:
df = pd.read_csv("/Users/jamesirving/Downloads/Student Rosters (2).csv",index_col=0)
df

,Most Recent Cohort Name,First Name,Last Name,Email,Learn UUID,Current Pacing in Weeks,Instructor,Days At Current Pace,Milestones Completed,Last Milestone Completed,...,Most Recent Event Date,Most Recent Event,Recs Received,Recs Clicked,Last Rec Opened Date,Last Rec Opened,Accountability Sessions,Accountability Sessions Attended,Pair w/ TC Tickets,% Complete
1,NTL01-DTSC-FLEX-083021,Alec,Hing,ahing619@gmail.com,f7734eb5-4486-4402-b600-7a567504a56d,40,James Irving,49,5,Topic 9: APIs - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,4,4,0,18%
2,NTL01-DTSC-FLEX-083021,Alex,Liang,alpliang@gmail.com,879b0696-9eeb-42c2-9efd-e0e79dbfa3c9,60,James Irving,49,4,Topic 7: SQL - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,1,1,0,14%
3,NTL01-DTSC-FLEX-071921,Alexander,Casey,alexcasey92@gmail.com,9ae923c4-810f-48a2-acda-d6a663a8bae0,20,James Irving,91,16,Topic 29: Nonparametric ML Models - Cumulative...,...,NaN,NaN,0,0,NaN,NaN,4,4,0,57%
4,NTL01-DTSC-FLEX-083021,Andrew,Martinez,drewand0709@gmail.com,7a5392ab-ae7f-4a2d-a9c2-2702496a87cb,60,James Irving,48,3,Topic 5: Pandas Data Cleaning - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,2,2,0,11%
5,NTL01-DTSC-FLEX-071921,Austin,Towery,aat207@aol.com,83b9fb0a-204f-4a46-ab2b-f2566d3e5d5e,60,James Irving,83,5,Topic 9: APIs - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,5,5,0,18%
6,NTL01-DTSC-FLEX-083021,Claudia,Tsai,klaudiatsai@gmail.com,a7ad4fc9-13eb-444e-97e6-7f36ea56ed8e,60,James Irving,21,3,Topic 5: Pandas Data Cleaning - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,1,1,0,11%
7,NTL01-DTSC-FLEX-071921,Colm,yeh,yehcolum@gmail.com,87e6f72c-2f93-4099-9cb6-da0192ca0f07,40,James Irving,46,5,Topic 9: APIs - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,6,6,0,18%
8,NTL01-DTSC-FLEX-071921,Daniel,Ross-Leutwyler,dan.floss@gmail.com,8e535c6a-241b-430b-a9b4-464dd3fabb9b,20,James Irving,88,12,Phase 2 Project,...,NaN,NaN,0,0,NaN,NaN,6,6,0,43%
9,NTL01-DTSC-FLEX-080921,Donica,Miller,dm311@yahoo.com,c94227c8-d3f8-4b90-bc68-f71fabb48454,40,James Irving,39,3,Topic 5: Pandas Data Cleaning - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,4,4,0,11%
10,NTL01-DTSC-FLEX-080921,Ferdinand,Beaman,ferdinand.beaman@gmail.com,41633db9-35ce-474d-9c55-b42d22eeb727,60,James Irving,42,3,Topic 5: Pandas Data Cleaning - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,6,6,0,11%
11,NTL01-DTSC-FLEX-080921,Freddy,Abrahamson,fred0421@hotmail.com,4e0b4373-0fdd-4460-b52a-496dc647c1aa,40,James Irving,64,5,Topic 9: APIs - Cumulative Lab,...,NaN,NaN,2,0,NaN,NaN,4,4,0,18%
12,NTL01-DTSC-FLEX-080921,James,Pheby,jamespheby@hotmail.com,042ad47b-d7f4-45f9-8d05-7b7ddec3346a,40,James Irving,69,6,Phase 1 Project,...,NaN,NaN,0,0,NaN,NaN,2,2,0,21%
13,NTL01-DTSC-FLEX-080921,Jim,Petoskey,jim.petoskey.146@gmail.com,fc42f6b4-d1dd-4323-be27-8c99518fdf86,20,James Irving,5,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
14,NTL01-DTSC-FLEX-092021,Kevin,Culver,culver.coffee@gmail.com,7ce69a7b-ed72-4988-a63f-549d1f78116a,40,James Irving,27,4,Topic 7: SQL - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,2,2,0,14%
15,NTL01-DTSC-FLEX-080921,Kregg,Jackson,kr3ggjac.cj@gmail.com,541359d0-fbd3-4aa6-a66d-1f1cd0bc5271,60,James Irving,6,4,Topic 5: Pandas Data Cleaning - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,2,2,0,14%
16,NTL01-DTSC-FLEX-092021,Louis,Casanave,ls.casanave@gmail.com,4b744f3d-7968-448c-a4d7-adbd3a931db1,40,James Irving,26,4,Topic 7: SQL - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,4,4,0,14%
17,NTL01-DTSC-FLEX-101121,Maliha,Momtaj,maliha_momtaj@yahoo.com,e435b491-8b87-469d-a559-5a9a610e991d,40,James Irving,5,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
18,NTL01-DTSC-FLEX-092021,Matthew,Noonan,mcn9284@gmail.com,74c92b9b-51d7-4b56-bfed-790d33f961dd,40,James Irving,13,4,Topic 7: SQL - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,1,1,0,14%
19,NTL01-DTSC-FLEX-101121,Monique,Hercules,moniquehercules101@gmail.com,993d2655-8cf4-4bb5-bc6b-3affa81dc913,20,James Irving,5,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
20,NTL01-DTSC-FLEX-080921,Morgan,Didjurgis,morgan.didjurgis@gmail.com,72c6ccfd-bbcd-4bd4-8d3a-f83e00ecabbe,40,James Irving,39,7,Phase 1 Blog Post,...,NaN,NaN,1,1,2021-09-10,Phase Project Kick-Off,7,7,0,25%
21,NTL01-DTSC-FLEX-092021,Nick,Winokur,nickwinokur@gmail.com,0c16bbdc-ff24-4d5b-8770-18f1c855e4a7,40,James Irving,26,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
22,NTL01-DTSC-FLEX-092021,Noor,Syed,noor.syed1015@gmail.com,48390b16-ea78-45f7-ba7b-3490f2c72aed,40,James Irving,29,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
23,NTL01-DTSC-FLEX-080921,Robert,Cauvy,rcauvy@gmail.com,46c0c0c5-93fe-4942-8f19-d7b4b326df24,40,James Irving,18,11,Topic 20: Linear Regression - Cumulative Lab,...,NaN,NaN,0,0,NaN,NaN,6,6,0,39%
24,NTL01-DTSC-FLEX-101121,Ryan,Sajac,rsajac@gmail.com,f61798e5-c15f-45e5-b4a4-ee20bdeafcd0,20,James Irving,5,0,NaN,...,NaN,NaN,0,0,NaN,NaN,1,1,0,0%
25,NTL01-DTSC-FLEX-080921,Samuel,Oliver,samueloliver303@gmail.com,b5dd19ef-f1fd-4834-8d78-a8b3b5b057e9,20,James Irving,68,9,Topic 16: Website A/B Testing - Lab,...,NaN,NaN,0,0,NaN,NaN,6,6,0,32%
26,NTL01-DTSC-FLEX-101121,Simran,Kaur,s.kaur0761@gmail.com,175ad881-7589-4376-b7d7-600757d9b5f3,60,James Irving,16,0,NaN,...,NaN,NaN,0,0,NaN,NaN,0,0,0,0%

In [13]:
df.columns

Index(['Most Recent Cohort Name', 'First Name', 'Last Name', 'Email',
       'Learn UUID', 'Current Pacing in Weeks', 'Instructor',
       'Days At Current Pace', 'Milestones Completed',
       'Last Milestone Completed', 'Timeliness of Last Completed Milestone',
       'Pacing to Next Milestone', 'Note Count', 'Most Recent Note Date',
       'Most Recent Attitude Score', 'Most Recent Aptitude Score',
       'Events Saved', 'Most Recent Event Date', 'Most Recent Event',
       'Recs Received', 'Recs Clicked', 'Last Rec Opened Date',
       'Last Rec Opened', 'Accountability Sessions',
       'Accountability Sessions Attended', 'Pair w/ TC Tickets', '% Complete'],
      dtype='object')

In [15]:
df2 = df[['First Name',"Last Name","Last Milestone Completed"]].sort_values('First Name')
df2

,First Name,Last Name,Last Milestone Completed
1,Alec,Hing,Topic 9: APIs - Cumulative Lab
2,Alex,Liang,Topic 7: SQL - Cumulative Lab
3,Alexander,Casey,Topic 29: Nonparametric ML Models - Cumulative...
4,Andrew,Martinez,Topic 5: Pandas Data Cleaning - Cumulative Lab
5,Austin,Towery,Topic 9: APIs - Cumulative Lab
6,Claudia,Tsai,Topic 5: Pandas Data Cleaning - Cumulative Lab
7,Colm,yeh,Topic 9: APIs - Cumulative Lab
8,Daniel,Ross-Leutwyler,Phase 2 Project
9,Donica,Miller,Topic 5: Pandas Data Cleaning - Cumulative Lab
10,Ferdinand,Beaman,Topic 5: Pandas Data Cleaning - Cumulative Lab
11,Freddy,Abrahamson,Topic 9: APIs - Cumulative Lab
12,James,Pheby,Phase 1 Project
13,Jim,Petoskey,NaN
14,Kevin,Culver,Topic 7: SQL - Cumulative Lab
15,Kregg,Jackson,Topic 5: Pandas Data Cleaning - Cumulative Lab
16,Louis,Casanave,Topic 7: SQL - Cumulative Lab
17,Maliha,Momtaj,NaN
18,Matthew,Noonan,Topic 7: SQL - Cumulative Lab
19,Monique,Hercules,NaN
20,Morgan,Didjurgis,Phase 1 Blog Post
21,Nick,Winokur,NaN
22,Noor,Syed,NaN
23,Robert,Cauvy,Topic 20: Linear Regression - Cumulative Lab
24,Ryan,Sajac,NaN
25,Samuel,Oliver,Topic 16: Website A/B Testing - Lab
26,Simran,Kaur,NaN

In [47]:
df2['Topic #'] = df2['Last Milestone Completed'].str.findall(r'Topic\W(\d+)')
# df2['Topic #'].map(lambda x: x[0] if (isinstance(x,list) )else x)
df2 = df2.explode('Topic #')
df2['Topic #'] = df2['Topic #'].astype(float)
# ",".join(df2["Last Milestone Completed"].astype(str))
df2

,First Name,Last Name,Last Milestone Completed,Topic #
1,Alec,Hing,Topic 9: APIs - Cumulative Lab,9.0
2,Alex,Liang,Topic 7: SQL - Cumulative Lab,7.0
3,Alexander,Casey,Topic 29: Nonparametric ML Models - Cumulative...,29.0
4,Andrew,Martinez,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
5,Austin,Towery,Topic 9: APIs - Cumulative Lab,9.0
6,Claudia,Tsai,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
7,Colm,yeh,Topic 9: APIs - Cumulative Lab,9.0
8,Daniel,Ross-Leutwyler,Phase 2 Project,NaN
9,Donica,Miller,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
10,Ferdinand,Beaman,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
11,Freddy,Abrahamson,Topic 9: APIs - Cumulative Lab,9.0
12,James,Pheby,Phase 1 Project,NaN
13,Jim,Petoskey,NaN,NaN
14,Kevin,Culver,Topic 7: SQL - Cumulative Lab,7.0
15,Kregg,Jackson,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
16,Louis,Casanave,Topic 7: SQL - Cumulative Lab,7.0
17,Maliha,Momtaj,NaN,NaN
18,Matthew,Noonan,Topic 7: SQL - Cumulative Lab,7.0
19,Monique,Hercules,NaN,NaN
20,Morgan,Didjurgis,Phase 1 Blog Post,NaN
21,Nick,Winokur,NaN,NaN
22,Noor,Syed,NaN,NaN
23,Robert,Cauvy,Topic 20: Linear Regression - Cumulative Lab,20.0
24,Ryan,Sajac,NaN,NaN
25,Samuel,Oliver,Topic 16: Website A/B Testing - Lab,16.0
26,Simran,Kaur,NaN,NaN

In [48]:
df2.sort_values('Topic #')

,First Name,Last Name,Last Milestone Completed,Topic #
4,Andrew,Martinez,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
6,Claudia,Tsai,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
9,Donica,Miller,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
10,Ferdinand,Beaman,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
15,Kregg,Jackson,Topic 5: Pandas Data Cleaning - Cumulative Lab,5.0
2,Alex,Liang,Topic 7: SQL - Cumulative Lab,7.0
14,Kevin,Culver,Topic 7: SQL - Cumulative Lab,7.0
16,Louis,Casanave,Topic 7: SQL - Cumulative Lab,7.0
18,Matthew,Noonan,Topic 7: SQL - Cumulative Lab,7.0
1,Alec,Hing,Topic 9: APIs - Cumulative Lab,9.0
5,Austin,Towery,Topic 9: APIs - Cumulative Lab,9.0
7,Colm,yeh,Topic 9: APIs - Cumulative Lab,9.0
11,Freddy,Abrahamson,Topic 9: APIs - Cumulative Lab,9.0
25,Samuel,Oliver,Topic 16: Website A/B Testing - Lab,16.0
23,Robert,Cauvy,Topic 20: Linear Regression - Cumulative Lab,20.0
3,Alexander,Casey,Topic 29: Nonparametric ML Models - Cumulative...,29.0
8,Daniel,Ross-Leutwyler,Phase 2 Project,NaN
12,James,Pheby,Phase 1 Project,NaN
13,Jim,Petoskey,NaN,NaN
17,Maliha,Momtaj,NaN,NaN
19,Monique,Hercules,NaN,NaN
20,Morgan,Didjurgis,Phase 1 Blog Post,NaN
21,Nick,Winokur,NaN,NaN
22,Noor,Syed,NaN,NaN
24,Ryan,Sajac,NaN,NaN
26,Simran,Kaur,NaN,NaN